<!-- HEADER -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CSE103</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        <li><a href="https://piazza.com/ucsd/fall2014/cse103/">Piazza</a></li>
        <li><a href="http://webwork.cse.ucsd.edu/webwork2">Webwork</a></li>
        <li><a href="https://github.com/yoavfreund/ProbStatBook/raw/master/ProbabilityStatistics.pdf">Textbook</a></li>
      </ul>
    </div>
  </div>
</nav>
