/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);


ul.post-list {
    list-style: none;
}

#right-sidebar {
    padding-top: 4em;
}

footer {
    padding-top: 4em;
}