<!DOCTYPE html>
<html>

  {% include head.html %}
  <body>

    {% include header.html %}
    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div id="main_content_wrap"  class="col-md-9">
          {{ content }}
        </div>
        <div class="col-md-3">
          <ul class="nav nav-stacked" id="side_nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Curriculum">Curriculum</a></li>
            <li><a href="/Coordinates">Times and Teaching Staff</a></li>
            <li><a href="https://piazza.com/ucsd/fall2014/cse103/">Piazza</a></li>
            <li><a href="{% post_url 2014-9-1-web-pages %}">Web Resources</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
